
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tampa Food Not Bombs - Zines</title>
  <link rel="stylesheet" href="../../static/css/metrocon.css">
  <link href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet">

   <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png">
  <link rel="manifest" href="../../site.webmanifest">
                
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://unpkg.com/vue@3.5.38/dist/vue.global.prod.js"></script> 
 
</head>
<body id="fnb-zines">
  <main class="w-[100wh] h-[100vh] flex flex-col pb-0 mb-0 relative overflow-y-scroll justify-between">
    <!-- Infinite Scroll -->
    <div v-show="state.mounted && !state.metrocon_day" class="visible lg:invisible h-[50px] w-full bg-black absolute top-0 flex flex-col justify-start items-start z-50 p-2">
      <div class="item cursor-pointer">
        <p class="text-bold impact m-0 text-sm">TFNB @ Metrocon in</p>
      </div>
      <div class="counter-item font-thin item impact m-0 p-0 text-xs"></div>
    </div>
    <div v-show="state.mounted && !state.metrocon_day" id="ctr-inf_scroll" class="invisible lg:visible top-0 absolute relative overflow-hidden gap-0 w-[100vw] z-10">
      <div v-for="(unit, index) in state.inf_scroll.units" :id="unit.id" :class="`h-[50px] text-lg ${unit.class}`">

        <a href="https://metroconventions.com/" target="_blank" v-for="counter in unit.count" class="flex flex-row gap-0 justify-center items-center">
          <div class="item cursor-pointer">
            <p class="text-bold impact m-0 px-2">TFNB @ Metrocon in</p>
          </div>
          <div class="counter-item item impact m-0 p-0"></div>
          <div class="h-[15px] w-[15px] rounded-full bg-purple-400 mx-5"></div>
        </a>
      </div>
      </a>
    </div>

    <div id="header" :class="`w-full flex flex-row p-2 gap-2 mb-10 ${!state.metrocon_day ? 'mt-[50px]' : ''}`">
      <div class="w-1/5 flex flex-col justify-center align-center items-center p-2">
        <a href="https://tampafoodnotbombs.org/metrocon/">
          <img class="lg:w-3/4" src="https://res.cloudinary.com/dpxmyueqi/image/upload/v1783390031/back_prod_ncv08t.png" alt="Back to Metrocon page">
        </a>
      </div>
      <div class="flex flex-1 justify-center align-center items-center p-2">
        <img class="lg:w-1/2" src="https://res.cloudinary.com/dpxmyueqi/image/upload/v1783389382/zine-library-trans_bckt3d.png" alt="Zine Library">
      </div>
      <div class="w-1/5 flex flex-col justify-center align-center items-center p-2">
        <!-- <a href="#" class="">
          <img src="https://res.cloudinary.com/dpxmyueqi/image/upload/v1783390031/media_arrow_prod_juvzpl.png" alt="Media">
        </a> -->
      </div>
    </div>

    <div class="flex flex-1"></div>

    <div id="shelf" v-show="state.zine_shelves.length" class="w-[90%] h-full  pb-0 mb-0   h-[65vh] rounded-md mx-auto  flex flex-1   grid grid-cols-1  lg:grid-cols-3">
      <div v-for="(shelf, a) in state.zine_shelves" 
        style="background-image: url('https://res.cloudinary.com/dpxmyueqi/image/upload/q_auto/f_auto/v1782001822/shelf_slot_ecqflv.webp');"
        :class="`${ shelf.length ? 'h-[20vh]' : 'h-[100px]' } hidden lg:flex w-full flex-col justify-end items-end bg-cover bg-no-repeat`"
      >
        <div class="w-full h-full flex flex-row justify-end items-end">
          <button
            v-for="zine in shelf"
            :style="`background-image: url('${zine?.img}');`"
            class="w-[140px] mx-auto shadow-lg cursor-pointer h-[300px] lg:h-[80%] bg-contain bg-no-repeat bg-center flex flex-col justify-end items-end overflow-hidden rounded-md"
            @click="open_zine(zine)">
            <span v-if="zine?.shelf == 'palestine'" class="text-4xl">🇵🇸</span>
          </button>
        </div>
      </div>

      <div v-for="(shelf, b) in state.zine_shelves_mobile" 
        style="background-image: url('https://res.cloudinary.com/dpxmyueqi/image/upload/q_auto/f_auto/v1782001822/shelf_slot_ecqflv.webp');"
        class=" lg:hidden w-full relative  flex flex-row justify-end items-end bg-cover bg-no-repeat"
      >
      
        <button
          v-for="zine in shelf"
          :style="`background-image: url('${zine?.img}');`"
          :class="`${ b > 2 ? 'w-[70px]' : 'w-[110px]'} relative  mx-auto shadow-lg cursor-pointer min-h-[200px] lg:h-[85%] bg-contain bg-no-repeat bg-center flex flex-col justify-end items-end overflow-hidden rounded-md`"
          @click="open_zine(zine)">
          <span v-if="zine?.shelf == 'palestine'" class="text-4xl absolute bottom-[10%]">🇵🇸</span>
        </button>
      </div>


    </div>

    <!-- Modal -->
    <Transition name="zine-modal">
      <div v-if="state.modal.open"
        class="fixed inset-0 z-[200] flex items-center justify-center p-4"
        @click.self="close_zine()">

        <div class="absolute inset-0 bg-black/85" @click="close_zine()"></div>

        <div class="relative z-10 w-full max-w-2xl h-[80vh] overflow-hidden shadow-2xl flex flex-col items-center justify-center bg-contain bg-center bg-no-repeat "
          style="background-image: url(https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001822/everythings_fun_with_a_library_card_y15vqy.png);"
        >

          <!-- Close -->
          <button @click="close_zine()"
            class="absolute top-3 right-4 text-white hover:text-white text-3xl leading-none z-20 cursor-pointer">
            &times;
          </button>



          <!-- Info & links -->
          <div class="p-5 flex flex-col gap-3 w-3/5 mx-auto">
            <div class="w-full text-center">
              <h2 class="text-neutral-900 text-2xl leading-snug">{{ state.modal.zine?.title }}</h2>
              <p class="text-neutral-900 mt-1">{{ state.modal.zine?.author }}</p>
            </div>
            <div class="flex gap-3 flex-col text-center">
              
              <a v-if="state.modal.zine?.print"
                :href="state.modal.zine.print"
                target="_blank" rel="noopener"
                class="underline text-purple-800 text-xl">
                Print / Download
              </a>
              <a v-if="state.modal.zine?.link"
                :href="state.modal.zine.link"
                target="_blank" rel="noopener"
                class="underline text-purple-800 text-xl">
                 Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
    </Transition>

 </main>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>

    const { createApp, ref, reactive, onMounted, onUnmounted, nextTick, watch, computed } = Vue
    createApp({
      setup() {
        
        // State
        const screen_width = ref(window.innerWidth)
        onUnmounted(() => {
          window.removeEventListener('resize', () => {
            screen_width.value = window.innerWidth
          })
        })
        const state = reactive({
          metrocon_day: false,
          mounted: false,
          inf_scroll: {
            units: [
              {
                id: `scroll-one`,
                class: `scroll fixed flex items-center jusifty-around w-fit-content text-2xl`,
                count: 5
              },
              {
                id: `scroll-two`,
                class: `scroll fixed cursor-pointer flex items-center jusifty-around w-fit-content`,
                count: 5
              }
            ],
          },
          social_links: [
            {
              title: `Support us on Venmo`,
              class: `text-indigo-200`,
              url: `https://venmo.com/tfnbfondos`,
              label: `@TFNBFondos`,  
              svg: {
                html: `<svg class="niftybutton-ven" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="display: block; fill: rgb(195, 161, 246); width: 58px; height: 58px; color: rgb(195, 161, 246);" width="58" height="58" role="img"><path d="M21.428 4.4c.77 1.281 1.119 2.601 1.119 4.27 0 5.32-4.541 12.23-8.227 17.08H6.15L2.776 5.563l7.37-.7 1.792 14.362c1.65-2.67 3.815-6.648 3.815-9.52 0-1.594-.273-2.678-.7-3.57z" fill="#000000" style="fill: rgb(195, 161, 246);"></path></svg>`
              }
            },
            {
              title: `Support us on Cashapp`,
              class: `text-indigo-200`,
              url: `https://cash.app/$TFNBFondos`,
              label: `$TFNBFondos`,  
              svg: {
                html: `<svg class="niftybutton-cashapp" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="display: block; fill: rgb(195, 161, 246); width: 58px; height: 58px; color: rgb(195, 161, 246);" width="58" height="58" role="img"><path d="M21.428 4.4c.77 1.281 1.119 2.601 1.119 4.27 0 5.32-4.541 12.23-8.227 17.08H6.15L2.776 5.563l7.37-.7 1.792 14.362c1.65-2.67 3.815-6.648 3.815-9.52 0-1.594-.273-2.678-.7-3.57z" fill="#000000" style="fill: rgb(195, 161, 246);"></path></svg>`
              } 
            },
            {
              title: `Find us on Instagram`,
              class: `text-indigo-200`,
              url: `https://www.instagram.com/tampafoodnotbombs`,
              label: `@tampafoodnotbombs`,  
              svg: {
                html: `<svg id="instagram" fill="rgb(217, 50, 117)" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="58px" height="58px" viewBox="0 0 169.063 169.063" xml:space="preserve"><g><path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752
                          c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407
                          c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752
                          c17.455,0,31.656,14.201,31.656,31.655V122.407z"></path><path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561
                          C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561
                          c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"></path><path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78
                          c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78
                          C135.661,29.421,132.821,28.251,129.921,28.251z"></path></g></svg>`
              }
            }
          ],
          modal: {
            open: false,
            zine: null,
            zine_bg: null
          },
          zine_shelves_mobile: [
            [{
              title: `WTF is Mutual Aid @MC`,
              author: `Oh Shit! What Now? ATX`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483755/wtf_is_mutual_aid_mdzjta.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_1_open_xcnhgn.png' : ''}`,
              link: `https://www.ohshitwhatnow.org/category/resource-guides/`,
              print: `https://www.ohshitwhatnow.org/wp-content/uploads/2017/08/wtfismutualaid.pdf`,
              shelf: `zines`,
            },
             {
              title: `11 Reasons I’m Wearing a Mask in 2025 @MC`,
              author: `Violet B. Fox`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483588/11_Reasons_Photopea_rwpm74.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001827/zine_2_open_ctacss.png' : ''}`,
              link: `https://violetbfox.info/11reasons/`,
              print: `https://drive.google.com/file/d/174tIwsjyrWaeI2RRxBhMTqa-oNiYReBt/view`,
              shelf: `zines`,
            },],
            [{
              title: `12 Things to Do Instead of Calling the Cops @MC`,
              author: `Mayday Collective Washtenaw, Solidarity & Defense`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483579/Do_Something_Photopea_vptuwz.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001825/zine_6_open_fvuuaj.png' : ''}`,
              link: `https://www.facebook.com/MayDayCollectiveWashtenaw`,
              print: `https://files.sproutdistro.com/12things-print.pdf `,
              shelf: `zines`,
            },
            {
              title: `Food is the First Frontier of The Israeli-Palestinian Conflict @MC`,
              author: `Carly Graf`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483953/Food_First_Frontier_qrmxo9.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_5_open_tsn1o8.png' : ''}`,
              link: `https://perma.cc/HVB3-8X7J`,
              print: `https://static1.squarespace.com/static/667ca6a15f58f502d2f31024/t/67e1c99fb4ffe12130c46ed3/1742850467364/food-booklet.pdf`,
              shelf: `zines`,  
            },],
            [{
              title: `How to Do a Guerrilla Sharing @MC`,
              author: `Food Not Bombs`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483577/Guerilla_Sharing_Guide_vvb2al.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001827/zine_3_open_at3ssu.png' : ''}`,
              link: `https://theanarchistlibrary.org/library/food-not-bombs-how-to-do-a-guerilla-sharing.lt.pdf`,
              print: `https://theanarchistlibrary.org/library/food-not-bombs-how-to-do-a-guerilla-sharing.lt.pdf`,
              shelf: `zines`,
            },
            {
              title: `Mutual Aid, The commons, and the Revolutionary Abolition of Capitalism @MC`,
              author: `Crimethinc`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783484106/Mutual_Aid_The_Commons_y7k5gs.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_4_open_s6pmyk.png' : ''}`,
              link: `https://crimethinc.com/zines/mutual-aid-the-commons-and-the-revolutionary-abolition-of-capitalism`,
              print: `https://cdn.crimethinc.com/assets/zines/mutual-aid-the-commons-and-the-revolutionary-abolition-of-capitalism/mutual-aid-the-commons-and-the-revolutionary-abolition-of-capitalism_print_black_and_white.pdf`,
              shelf: `zines`,
            },],
            [{
              title: `Free Palestine: Resources Inside`,
              author: `Various`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783484441/Free_Palestine_Photopea_jgxpuz.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_10_open_zdqcew.png' : ''}`,
              link: `https://www.pleasurepie.org/articles/free-zines-about-palestine`,
              print: `https://www.pleasurepie.org/uploads/4/0/9/8/40981383/free_palestine_resources_zine_tc_2023.pdf`,
              shelf: `palestine`,
            },
            {
              title: `Sex Education in Gaza`,
              author: `Pleasure Pie`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483592/Sex_Ed_in_Gaza_lvzdgq.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001825/zine_7_open_pysjup.png' : ''}`,
              link: `https://www.pleasurepie.org/printables.html`,
              print: `https://www.pleasurepie.org/uploads/4/0/9/8/40981383/sex_ed_in_gaza_zine__2_.pdf`,
              shelf: `palestine`,
            },
            {
              title: `A Care Centered Guide to Digitally Archiving Palestine`,
              author: `Librarians with Palestine`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483598/Care_Centered_Guide_bfoip6.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001827/zine_8_open_vuw2yb.png' : ''}`,
              link: `https://librarianswithpalestine.org/`,
              print: `https://librarianswithpalestine.org/wp-content/uploads/2024/06/LAPCareZineWeb.pdf`,
              shelf: `palestine`,
            },
            {
              title: `To The World, A Comic from Gaza`,
              author: `Jehad Abu Dayya, Esraa Al-Banna`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483599/To_the_World_xdyttw.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_9_open_lck8v0.png' : ''}`,
              link: ``,
              print: ``,
              shelf: `palestine`,  
            }
            ],
            [{
              title: `Sisters? Not Yet! A Beginner’s Guide to White Feminism (And why it is a problem)`,
              author: `Decolonization Coven`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483591/Sisters_Not_Yet_n43okl.png`,
              link: `https://drive.proton.me/urls/4TPYHKAJEW#JnUItyD6COgh`,
              print: ``,
              shelf: `decolonization_coven`,
            },
            {
              title: `Why We Mask`,
              author: `Laurel Lynn Leake, 2025`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483595/Why_We_Mask_uzzv6f.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_11_open_me5tvg.png' : ''}`,
              link: `https://laurel-lynn-leake.itch.io/why-we-mask/devlog/941782/why-we-mask-2025-edition`,
              print: `https://laurel-lynn-leake.itch.io/why-we-mask/purchase`,
              shelf: `zines`,
            },
            {
              title: `I Don’t Bash Back, I Shoot First`,
              author: `The Zine Squatte Shoppe`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483589/Queer_Gangs_zbbknm.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_14_open_ujgi7j.png' : ''}`,
              link: `https://zinesquatteshoppe.noblogs.org/i-dont-bash-back-i-shoot-first-on-queer-gangs`,
              print: `https://zinesquatteshoppe.noblogs.org/files/2025/07/i-dont-bash-back-print.pdf`,
              shelf: `zines`,
            },
            {
              title: `7 Myths about Police`,
              author: `Crimethinc`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483584/7_Myths_Photopea_z7zho6.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001825/zine_15_open_o1nzfc.png' : ''}`,
              link: `https://crimethinc.com/zines/seven-myths-about-the-police`,
              print: `https://cdn.crimethinc.com/assets/zines/seven-myths-about-the-police/seven-myths-about-the-police_print_black_and_white.pdf`,
              shelf: `zines`,
            }
            ],
            []
          ],
          zine_shelves: [
            [
            {
              title: `WTF is Mutual Aid @MC`,
              author: `Oh Shit! What Now? ATX`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483755/wtf_is_mutual_aid_mdzjta.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_1_open_xcnhgn.png' : ''}`,
              link: `https://www.ohshitwhatnow.org/category/resource-guides/`,
              print: `https://www.ohshitwhatnow.org/wp-content/uploads/2017/08/wtfismutualaid.pdf`,
              shelf: `zines`,
            },
             {
              title: `11 Reasons I’m Wearing a Mask in 2025 @MC`,
              author: `Violet B. Fox`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483588/11_Reasons_Photopea_rwpm74.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001827/zine_2_open_ctacss.png' : ''}`,
              link: `https://violetbfox.info/11reasons/`,
              print: `https://drive.google.com/file/d/174tIwsjyrWaeI2RRxBhMTqa-oNiYReBt/view`,
              shelf: `zines`,
            },
            ],        
            [{
              title: `12 Things to Do Instead of Calling the Cops @MC`,
              author: `Mayday Collective Washtenaw, Solidarity & Defense`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483579/Do_Something_Photopea_vptuwz.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001825/zine_6_open_fvuuaj.png' : ''}`,
              link: `https://www.facebook.com/MayDayCollectiveWashtenaw`,
              print: `https://files.sproutdistro.com/12things-print.pdf `,
              shelf: `zines`,
            },
            {
              title: `Food is the First Frontier of The Israeli-Palestinian Conflict @MC`,
              author: `Carly Graf`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483953/Food_First_Frontier_qrmxo9.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_5_open_tsn1o8.png' : ''}`,
              link: `https://perma.cc/HVB3-8X7J`,
              print: `https://static1.squarespace.com/static/667ca6a15f58f502d2f31024/t/67e1c99fb4ffe12130c46ed3/1742850467364/food-booklet.pdf`,
              shelf: `zines`,  
            },],
            [
              {
              title: `How to Do a Guerrilla Sharing @MC`,
              author: `Food Not Bombs`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483577/Guerilla_Sharing_Guide_vvb2al.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001827/zine_3_open_at3ssu.png' : ''}`,
              link: `https://theanarchistlibrary.org/library/food-not-bombs-how-to-do-a-guerilla-sharing.lt.pdf`,
              print: `https://theanarchistlibrary.org/library/food-not-bombs-how-to-do-a-guerilla-sharing.lt.pdf`,
              shelf: `zines`,
            },
            {
              title: `Mutual Aid, The commons, and the Revolutionary Abolition of Capitalism @MC`,
              author: `Crimethinc`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783484106/Mutual_Aid_The_Commons_y7k5gs.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_4_open_s6pmyk.png' : ''}`,
              link: `https://crimethinc.com/zines/mutual-aid-the-commons-and-the-revolutionary-abolition-of-capitalism`,
              print: `https://cdn.crimethinc.com/assets/zines/mutual-aid-the-commons-and-the-revolutionary-abolition-of-capitalism/mutual-aid-the-commons-and-the-revolutionary-abolition-of-capitalism_print_black_and_white.pdf`,
              shelf: `zines`,
            },
            ],
            [
            {
              title: `Free Palestine: Resources Inside`,
              author: `Various`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783484441/Free_Palestine_Photopea_jgxpuz.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_10_open_zdqcew.png' : ''}`,
              link: `https://www.pleasurepie.org/articles/free-zines-about-palestine`,
              print: `https://www.pleasurepie.org/uploads/4/0/9/8/40981383/free_palestine_resources_zine_tc_2023.pdf`,
              shelf: `palestine`,
            },
            {
              title: `Sex Education in Gaza`,
              author: `Pleasure Pie`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483592/Sex_Ed_in_Gaza_lvzdgq.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001825/zine_7_open_pysjup.png' : ''}`,
              link: `https://www.pleasurepie.org/printables.html`,
              print: `https://www.pleasurepie.org/uploads/4/0/9/8/40981383/sex_ed_in_gaza_zine__2_.pdf`,
              shelf: `palestine`,
            },
            ],
            [{
              title: `A Care Centered Guide to Digitally Archiving Palestine`,
              author: `Librarians with Palestine`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483598/Care_Centered_Guide_bfoip6.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001827/zine_8_open_vuw2yb.png' : ''}`,
              link: `https://librarianswithpalestine.org/`,
              print: `https://librarianswithpalestine.org/wp-content/uploads/2024/06/LAPCareZineWeb.pdf`,
              shelf: `palestine`,
            },
            {
              title: `To The World, A Comic from Gaza`,
              author: `Jehad Abu Dayya, Esraa Al-Banna`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483599/To_the_World_xdyttw.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_9_open_lck8v0.png' : ''}`,
              link: ``,
              print: ``,
              shelf: `palestine`,  
            },],
              [{
              title: `Mutual Aid: A Primer`,
              author: `@Slybadges`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483581/mutual_aid_primer_iept0m.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001825/zine_12_open_yh1du4.png' : ''}`,
              link: `https://www.instagram.com/slybadges/`,
              print: ``,
              shelf: `zines`,
            },
            
            {
              title: `Why We Mask`,
              author: `Laurel Lynn Leake, 2025`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483595/Why_We_Mask_uzzv6f.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_11_open_me5tvg.png' : ''}`,
              link: `https://laurel-lynn-leake.itch.io/why-we-mask/devlog/941782/why-we-mask-2025-edition`,
              print: `https://laurel-lynn-leake.itch.io/why-we-mask/purchase`,
              shelf: `zines`,
            },],
            [
{
              title: `I Don’t Bash Back, I Shoot First`,
              author: `The Zine Squatte Shoppe`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483589/Queer_Gangs_zbbknm.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001826/zine_14_open_ujgi7j.png' : ''}`,
              link: `https://zinesquatteshoppe.noblogs.org/i-dont-bash-back-i-shoot-first-on-queer-gangs`,
              print: `https://zinesquatteshoppe.noblogs.org/files/2025/07/i-dont-bash-back-print.pdf`,
              shelf: `zines`,
            },
            {
              title: `7 Myths about Police`,
              author: `Crimethinc`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483584/7_Myths_Photopea_z7zho6.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001825/zine_15_open_o1nzfc.png' : ''}`,
              link: `https://crimethinc.com/zines/seven-myths-about-the-police`,
              print: `https://cdn.crimethinc.com/assets/zines/seven-myths-about-the-police/seven-myths-about-the-police_print_black_and_white.pdf`,
              shelf: `zines`,
            },
            ],
            [
              {
              title: `Building Community`,
              author: `Decolonization Coven`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483594/Building_Community_Alternatives_yv8oe4.png`,
              link: `https://drive.proton.me/urls/840WP9N0D4#57ey4RKlhVOb`,
              print: `https://drive.proton.me/urls/840WP9N0D4#57ey4RKlhVOb`,
              shelf: `decolonization_coven`,
            },
            {
              title: `12 Children's Books That Celebrate the Spirit of Mutual Aid`,
              author: `Decolonization Coven`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483585/Children_s_Books_otrbgi.png`,
              img_open: `${screen_width.value > 1024 ? 'https://res.cloudinary.com/dpxmyueqi/image/upload/v1782001825/zine_13_open_cytzrf.png' : ''}`,
              link: ``,
              print: `https://www.dropbox.com/scl/fi/ko5ygz8fon7bsrsl5p1ou/Childrens-Book-Zine.pdf?rlkey=7976ewb2doofmjmpynaixqjoh&st=2pioybg1&e=1&dl=0`,
              shelf: `decolonization_coven`,
            },
             {
              title: `Decolonize 101`,
              author: `Decolonization Coven`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483587/Decolonize_101_ef4cdl.png`,
              link: `https://drive.proton.me/urls/YPN3B2V24R#E25AVQJ7Wy4z`,
              print: `https://drive.proton.me/urls/YPN3B2V24R#E25AVQJ7Wy4z`,
              shelf: `decolonization_coven`,
             }
            ],
            [
              {
              title: `Sisters? Not Yet! A Beginner’s Guide to White Feminism (And why it is a problem)`,
              author: `Decolonization Coven`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483591/Sisters_Not_Yet_n43okl.png`,
              link: `https://drive.proton.me/urls/4TPYHKAJEW#JnUItyD6COgh`,
              print: ``,
              shelf: `decolonization_coven`,
            },
            {
              title: `Dirt Cheap`,
              author: `Decolonization Coven`,
              img: `https://res.cloudinary.com/dpxmyueqi/image/upload/v1783483596/Dirt_Cheap_Photopea_aixkpe.png`,
              link: `https://drive.proton.me/urls/HF4TWKRC6M#3j7RxT1ZlDQd`,
              print: `https://drive.proton.me/urls/HF4TWKRC6M#3j7RxT1ZlDQd`,
              shelf: `decolonization_coven`,
            },
            ],
            [],
            [],
            []
            
            
          ]
        })

        // console.log('zine chunks', state.zine_chunks);
        // Methods/Functions
          // Countdown to July 31, 2026
        let init_countdown = () => {

          console.log('Countdown set ... :)')


          let countdownDate = new Date("July 31, 2026 00:00:00").getTime();
          let x = setInterval(() => {
            let now = new Date().getTime();
            let distance = countdownDate - now;

            let days = Math.floor(distance / (1000 * 60 * 60 * 24)),
                hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)),
                minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)),
                seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Countdown items have class of "item"
            let countdownItems = document.querySelectorAll('.counter-item');
            countdownItems.forEach((item, index) => {
              item.innerHTML = `${days} Days ${hours} Hours ${minutes} Minutes ${seconds} Seconds`;
            });

          }, 1000);

          state.mounted = true;
        }
        
        // truncate text in windows
        let init_truncate_text = () => {
          console.log('Truncate text set ... :)')
          
          let line_clamps = document.querySelectorAll('.line-clamp');
          let read_more_btns = document.querySelectorAll('.read_more_btn');

          read_more_btns.forEach((btn, index) => {
            btn.onclick = () => {
              line_clamps[index].classList.toggle('line-clamp');
              btn.textContent = line_clamps[index].classList.contains('line-clamp') ? 'Read More' : 'Read Less';
            }
          });

          
        }
        
        let open_zine = (zine, index) => {
          state.modal.zine = zine;

          nextTick(() => {
            state.modal.open = true;
          });
        }

        let close_zine = () => {
          state.modal.open = false;
        }

        // Lifecycle Hooks
        onMounted(() => {
          console.log('Mounted ... :)');
          state.metrocon_day = new Date() >= new Date("July 31, 2026 00:00:00");
          init_countdown();
          init_truncate_text();
          window.addEventListener('resize', () => {
            screen_width.value = window.innerWidth
          })
        });

        // watchers
        watch(screen_width, (new_width) => {
          // console.log('Screen width changed to:', new_width);
          screen_width.value = window.innerWidth;
        });


      return {
        state,
        open_zine,
        close_zine,
        screen_width,
      };
    }
  }).mount('#fnb-zines');

  </script>
  
</body>
</html> 