/* Fonts: */
@font-face {
    font-family: 'Sketchy';
    src: url('../fonts/sketchy-font/Sketchy-1jX4.ttf')  format('truetype');
}
@font-face {
    font-family: 'Witcher';
    src: url('../fonts/witcher-handwriting-font/WitcherhandwritingRegular-jEDW9.otf')  format('opentype'),
        url('../fonts/witcher-handwriting-font/WitcherHandwritingRegular-GO5vO.ttf')  format('truetype');
}
@font-face {
  font-family: 'Impact';
  src: url('https://fonts.cdnfonts.com/css/impact')  format('truetype');
}
@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/tahoma-font/tahoma.ttf')  format('truetype');
}
.impact {
  font-family: 'Impact', sans-serif !important;
}
.font-witcher {
  font-family: 'Witcher', sans-serif !important;
}
.font-sketchy {
  font-family: 'Sketchy', sans-serif !important;
}
.font-tahoma {
  font-family: 'Tahoma', sans-serif !important;
}


/* Main */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite; 
}
body {
    font-family: 'Witcher';
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 100%;
    height: auto;
}
.shadow {
    max-width: 100%;
    --shadow-color: hwb(from antiquewhite 200deg b w);
    filter: drop-shadow(2px 5px 5px var(--shadow-color));
}
section {
    max-width: 110ch;
    margin: 10px;
    padding: 5ch 5ch;
    background-color: white;
    @media (max-width: 110ch) {
        font-size: 12px;
        h2 {
            text-align: left;
        }
    }
    border: 8px solid transparent;
    border-image: url("../images/paperedge.svg") 50 round;
    background-clip: padding-box;
}
section h1 {
    font-family: 'Sketchy';
}
.corner-banner {
    /* position: absolute; */
    transform: rotate(-45deg);
    top: 100px;
    left: -40px;
}
section.hero {
    text-align: center;
    h1 {
        font-size: calc(min(67px, 10vw));
    }
    header img {
        width: 220px;
        height: auto;
    }
}
section.socials {
    text-align: center;
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: black;
                margin: 3em;
                display: flex;
                flex-direction: column;
                align-items: center;
                svg {
                    display: inline-block;
                    width: 86px;
                    height: 86px;
                    background: transparent;
                    margin-bottom: 1ch;
                    border-radius: 0px;
                    color: rgb(255, 255, 255);
                    transition: 0.3s;
                    opacity: 1;
                    &:hover {
                        transform: translateY(-4px);
                    }
                }
            }
        }
    }
}
