@font-face {
    font-family: 'Sketchy';
    src: url('../fonts/sketchy-font/Sketchy-1jX4.ttf')  format('truetype');
}
@font-face {
    font-family: 'Witcher';
    src: url('../fonts/witcher-handwriting-font/WitcherhandwritingRegular-jEDW9.otf')  format('opentype'),
        url('../fonts/witcher-handwriting-font/WitcherHandwritingRegular-GO5vO.ttf')  format('truetype');
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-image: url('../images/fl_bg.jpeg');   
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
 
}
body {
    font-family: 'Witcher';
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Sketchy';
}